:root {
  font-family: "Manrope", system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --primary-bg: rgb(253, 250, 241);
  --accent-color: rgb(4, 11, 6);
  --text-secondary: rgb(84, 84, 84);
  
  color: var(--accent-color);
  background-color: var(--primary-bg);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: var(--accent-color);
  text-decoration: inherit;
}
a:hover {
  color: var(--text-secondary);
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--primary-bg);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid var(--accent-color);
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--primary-bg);
  color: var(--accent-color);
  cursor: pointer;
  transition: all 0.25s ease;
}
button:hover {
  background-color: var(--accent-color);
  color: var(--primary-bg);
}
button:focus,
button:focus-visible {
  outline: 2px solid var(--accent-color);
  outline-offset: 2px;
}
